
* {
    list-style-type: none;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 700;
}

#greeting {
    font-weight: 900;
}

body {
    background-color: lightgray;
}


.firstLine {
    display: grid;
    grid-template-columns: 10% 10%;
}

.input {
    padding-right: 7%;
}


