<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/administrative.css">
    <title>Administrative Home Page</title>

</head>
<body>
<header>
    <img src="/images/newHeroLogo.png" alt="">
</header>

<div class="container">

    <h1 id="greeting">Administrative Dashboard</h1>

    <h1 class="entryChoice"><a href="/company-entry-form">Enter Companies</a></h1>
    <h1 class="entryChoice"><a href="/companies">All Companies</a></h1>
    <h1 class="entryChoice"><a href="/all-employees">All Current Employees</a></h1>



</div>

</body>
</html>
