<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/administrative.css">
    <title>All Employees in System</title>

</head>
<body>
<header>
    <img src="/images/newHeroLogo.png" alt="">
</header>

<div class="container">

    <h1 id="greeting">All Employees in our system...</h1>


    <ul th:each="employee:${allEmployees}">

        <li th:text="${employee.firstName}"></li>
        <li th:text="${employee.lastName}"></li>
<!--        <li th:text="${employee.companyName}"></li>-->


    </ul>

</div>
</body>
</html>
