<!DOCTYPE html>
<html lang="en">
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/userBasicForm.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>User Questionnaire</title>
    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous">

    </script>
    <script>
        function SubForm() {
            $.ajax({
                url: 'https://api.apispreadsheets.com/data/6626/',
                type: 'post',
                data: $("#myForm").serializeArray(),
                success: function () {
                    alert("Form Data Submitted :)")
                },
                error: function () {
                    alert("There was an error :(")
                }
            });
        }
    </script>

</head>

<body>
<div class="bgImage"></div>
<div class="container">
    <h1 class="greeting">Create Your MarHar Profile</h1>
    <p class="greeting__text"> a few short answers will win you fame and fortune!</p>


    <form>

        <div class="firstLine">
            <div class="firstName">
                <input placeholder="First name *" type="text" id="firstName" name="firstName" required/><br>
            </div>
            <div class="lastName">
                <input placeholder="Last name *" type="text" id="lastName" name="lastName" required/><br>
            </div>
        </div>

        <div class="secondLine">
            <div class="age">
                <input placeholder="Age" type="number" id="age" name="age" min="18" max="99" required/>
            </div>
            <div class="email">
                <input placeholder="Email" type="email" id="email" name="email" required/>
            </div>

            <div class="dropDownDiv">
                <select name="company" class="dropDown">
                    <option selected="selected" disabled="disabled">Company</option>
                    <option>Gavin's Tailoring</option>
                    <option>Troy's General Antics</option>
                    <option>Beth's Train Company</option>
                </select>
            </div>


        </div>

        <div class="thirdLine">


            <h2>How likely are you to recommend the Apex Exosuit to a friend or colleague?</h2>
        </div>

        <div class="tickDiv">
            <small>not likely</small>
            <input type=range min=0 max=10 value=1 step=1 list=tickMarks class="recommendTick">
            <datalist id=tickMarks>
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
            </datalist>

            <small>very likely</small>

        </div>


        <select name="primaryReason" class="dropDown" for="petReasons">
            <div class="pet__options">
                <div class="pet__options_header">


                    <option selected="selected" disabled="disabled">How would you feel if you could no longer use the
                        Apex Exosuit?
                    </option>
                </div>
                <option>Very Disappointed</option>
                <option>Somewhat Disappointed</option>
                <option>Not Disappointed (it's not that useful)</option>
                <option>NA- I no longer use the Apex Exosuit</option>


            </div>
        </select>

        <div class="thirdLine">


            <h2>Please rate how much physical effort you exert during a day while wearing the Apex Exosuit.</h2>
        </div>

        <div class="tickDiv">
            <small>no exertion</small>
            <input type=range min=0 max=15 value=1 step=1 list=tickMarks class="recommendTick">
            <datalist id=tickMarks1>
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
                <option>13</option>
                <option>14</option>
                <option>15</option>
            </datalist>
            <small>maximal exertion</small>
        </div>

        <div class="thirdLine">
            <img id="omniResScale" src="images/omni-res-option2.jpg" alt="">
        </div>


        <div class="thirdLine">
            <h2>Using the scale above, how hard do you feel your muscles are working for a typical lift while wearing
                the Apex Exosuit?</h2>
        </div>


        <div class="tickDiv">

            <small>not very hard</small>

            <input type=range min=0 max=10 value=1 step=1 list=tickMarks class="recommendTick">
            <datalist id=tickMarks2>
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
            </datalist>
            <small>extremely hard</small>
        </div>


        <div class="thirdLine">
            <h2>Using the scale above, how hard do you feel your muscles are working for your <i>heaviest</i> lift while
                wearing the Apex Exosuit?</h2>
        </div>


        <div class="tickDiv">

            <small>not very hard</small>

            <input type=range min=0 max=10 value=1 step=1 list=tickMarks class="recommendTick">
            <datalist id=tickMarks3>
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
            </datalist>
            <small>extremely hard</small>
        </div>









        <div class="thirdLine">
            <img id="bodyMap" src="images/frontAndBack.jpg" alt="">
        </div>

        <div class="bodyPartSectionDiv">
            <div class="multiLine">
                <h2>The crazy image above could have clickable regions in it, but in the meantime...</h2>
                <h2>Please rate your level of work-related discomfort for the body part indicated:</h2>
            </div>


            <div class="bodyPartTickDiv">
                <h3 class="bodyPart">Right Shoulder</h3>
                <div class="innerScaleDiv">
                    <small>no pain</small>
                    <input type=range min=0 max=10 value=1 step=1 list=tickMarks class="recommendTick">
                    <datalist id=tickMarks5>
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                    </datalist>
                    <small>worst possible pain</small>
                </div>
            </div>

            <div class="bodyPartTickDiv">
                <h3 class="bodyPart">Left Shoulder</h3>
                <div class="innerScaleDiv">
                    <small>no pain</small>
                    <input type=range min=0 max=10 value=1 step=1 list=tickMarks class="recommendTick">
                    <datalist id=tickMarks6>
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                    </datalist>
                    <small>worst possible pain</small>
                </div>
            </div>

            <div class="bodyPartTickDiv">
                <h3 class="bodyPart">Upper Back</h3>
                <div class="innerScaleDiv">
                    <small>no pain</small>
                    <input type=range min=0 max=10 value=1 step=1 list=tickMarks class="recommendTick">
                    <datalist id=tickMarks7>
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                    </datalist>
                    <small>worst possible pain</small>
                </div>
            </div>

            <div class="bodyPartTickDiv">
                <h3 class="bodyPart">Lower Back</h3>
                <div class="innerScaleDiv">
                    <small>no pain</small>
                    <input type=range min=0 max=10 value=1 step=1 list=tickMarks class="recommendTick">
                    <datalist id=tickMarks8>
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                    </datalist>
                    <small>worst possible pain</small>
                </div>
            </div>

            <div class="bodyPartTickDiv">
                <h3 class="bodyPart">Right Hip</h3>
                <div class="innerScaleDiv">
                    <small>no pain</small>
                    <input type=range min=0 max=10 value=1 step=1 list=tickMarks class="recommendTick">
                    <datalist id=tickMarks9>
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                    </datalist>
                    <small>worst possible pain</small>
                </div>
            </div>

            <div class="bodyPartTickDiv">
                <h3 class="bodyPart">Left Hip</h3>
                <div class="innerScaleDiv">
                    <small>no pain</small>
                    <input type=range min=0 max=10 value=1 step=1 list=tickMarks class="recommendTick">
                    <datalist id=tickMarks10>
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                    </datalist>
                    <small>worst possible pain</small>
                </div>
            </div>

            <div class="bodyPartTickDiv">
                <h3 class="bodyPart">Right Thigh</h3>
                <div class="innerScaleDiv">
                    <small>no pain</small>
                    <input type=range min=0 max=10 value=1 step=1 list=tickMarks class="recommendTick">
                    <datalist id=tickMarks11>
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                    </datalist>
                    <small>worst possible pain</small>
                </div>
            </div>

            <div class="bodyPartTickDiv">
                <h3 class="bodyPart">Left Thigh</h3>
                <div class="innerScaleDiv">
                    <small>no pain</small>
                    <input type=range min=0 max=10 value=1 step=1 list=tickMarks class="recommendTick">
                    <datalist id=tickMarks12>
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                    </datalist>
                    <small>worst possible pain</small>
                </div>
            </div>

            <div class="bodyPartTickDiv">
                <h3 class="bodyPart">Right Knee</h3>
                <div class="innerScaleDiv">
                    <small>no pain</small>
                    <input type=range min=0 max=10 value=1 step=1 list=tickMarks class="recommendTick">
                    <datalist id=tickMarks13>
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                    </datalist>
                    <small>worst possible pain</small>
                </div>
            </div>

            <div class="bodyPartTickDiv">
                <h3 class="bodyPart">Left Knee</h3>
                <div class="innerScaleDiv">
                    <small>no pain</small>
                    <input type=range min=0 max=10 value=1 step=1 list=tickMarks class="recommendTick">
                    <datalist id=tickMarks14>
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                    </datalist>
                    <small>worst possible pain</small>
                </div>
            </div>
        </div>


        <div class="AgreeSection">

            <div class="agreementDiv">
                <h2>Please indicate your level of agreement to the following statements.</h2>
                <h2>The Apex Exosuit...</h2>
                <div class="dropDownDiv">
                    <select name="company" class="dropDown">
                        <option selected="selected" disabled="disabled">is comfortable to wear while lifting and
                            handling objects.
                        </option>
                        <option>Strongly Agree</option>
                        <option>Agree</option>
                        <option>Neutral</option>
                        <option>Disagree</option>
                        <option>Strongly Agree</option>
                        <option>NA</option>
                    </select>
                </div>
            </div>

            <div class="agreementDiv">
                <div class="dropDownDiv">
                    <select name="company" class="dropDown">
                        <option selected="selected" disabled="disabled">is comfortable to wear while walking.</option>
                        <option>Strongly Agree</option>
                        <option>Agree</option>
                        <option>Neutral</option>
                        <option>Disagree</option>
                        <option>Strongly Agree</option>
                        <option>NA</option>
                    </select>
                </div>
            </div>

            <div class="agreementDiv">
                <div class="dropDownDiv">
                    <select name="company" class="dropDown">
                        <option selected="selected" disabled="disabled">is comfortable to wear while stepping
                            up/down from equipment and climbing up/down stairs.
                        </option>
                        <option>Strongly Agree</option>
                        <option>Agree</option>
                        <option>Neutral</option>
                        <option>Disagree</option>
                        <option>Strongly Agree</option>
                        <option>NA</option>
                    </select>
                </div>
            </div>

            <div class="agreementDiv">
                <div class="dropDownDiv">
                    <select name="company" class="dropDown">
                        <option selected="selected" disabled="disabled">is comfortable to wear while driving.
                        </option>
                        <option>Strongly Agree</option>
                        <option>Agree</option>
                        <option>Neutral</option>
                        <option>Disagree</option>
                        <option>Strongly Agree</option>
                        <option>NA</option>
                    </select>
                </div>
            </div>

            <div class="agreementDiv">
                <div class="dropDownDiv">
                    <select name="company" class="dropDown">
                        <option selected="selected" disabled="disabled">is comfortable to wearing during
                            breaks.
                        </option>
                        <option>Strongly Agree</option>
                        <option>Agree</option>
                        <option>Neutral</option>
                        <option>Disagree</option>
                        <option>Strongly Agree</option>
                        <option>NA</option>
                    </select>
                </div>
            </div>

            <div class="agreementDiv">
                <div class="dropDownDiv">
                    <select name="company" class="dropDown">
                        <option selected="selected" disabled="disabled">helps me to work with less
                            bodily discomfort.
                        </option>
                        <option>Strongly Agree</option>
                        <option>Agree</option>
                        <option>Neutral</option>
                        <option>Disagree</option>
                        <option>Strongly Agree</option>
                        <option>NA</option>
                    </select>
                </div>
            </div>

            <div class="agreementDiv">
                <div class="dropDownDiv">
                    <select name="company" class="dropDown">
                        <option selected="selected" disabled="disabled">makes me so hot that I would
                            not consider using it for my work.
                        </option>
                        <option>Strongly Agree</option>
                        <option>Agree</option>
                        <option>Neutral</option>
                        <option>Disagree</option>
                        <option>Strongly Agree</option>
                        <option>NA</option>
                    </select>
                </div>
            </div>

            <div class="agreementDiv">
                <div class="dropDownDiv">
                    <select name="company" class="dropDown">
                        <option selected="selected" disabled="disabled">is lightweight enough to
                            wear for an entire work shift.
                        </option>
                        <option>Strongly Agree</option>
                        <option>Agree</option>
                        <option>Neutral</option>
                        <option>Disagree</option>
                        <option>Strongly Agree</option>
                        <option>NA</option>
                    </select>
                </div>
            </div>

            <div class="agreementDiv">
                <div class="dropDownDiv">
                    <select name="company" class="dropDown">
                        <option selected="selected" disabled="disabled">allows me to move my
                            body naturally while not interfering with my range of motion.
                        </option>
                        <option>Strongly Agree</option>
                        <option>Agree</option>
                        <option>Neutral</option>
                        <option>Disagree</option>
                        <option>Strongly Agree</option>
                        <option>NA</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="AgreeSection">

            <div class="agreementDiv">
                <div class="dropDownDiv">
                    <select name="company" class="dropDown">
                        <option selected="selected" disabled="disabled">I think that I would like to use this Apex
                            exosuit frequently.
                        </option>
                        <option>Strongly Agree</option>
                        <option>Agree</option>
                        <option>Neutral</option>
                        <option>Disagree</option>
                        <option>Strongly Agree</option>
                        <option>NA</option>
                    </select>
                </div>
            </div>

            <div class="agreementDiv">
                <div class="dropDownDiv">
                    <select name="company" class="dropDown">
                        <option selected="selected" disabled="disabled">I found the Apex exosuit unnecessarily complex.
                        </option>
                        <option>Strongly Agree</option>
                        <option>Agree</option>
                        <option>Neutral</option>
                        <option>Disagree</option>
                        <option>Strongly Agree</option>
                        <option>NA</option>
                    </select>
                </div>
            </div>

            <div class="agreementDiv">
                <div class="dropDownDiv">
                    <select name="company" class="dropDown">
                        <option selected="selected" disabled="disabled">I thought the Apex exosuit was easy to use.
                        </option>
                        <option>Strongly Agree</option>
                        <option>Agree</option>
                        <option>Neutral</option>
                        <option>Disagree</option>
                        <option>Strongly Agree</option>
                        <option>NA</option>
                    </select>
                </div>
            </div>

            <div class="agreementDiv">
                <div class="dropDownDiv">
                    <select name="company" class="dropDown">
                        <option selected="selected" disabled="disabled">I think that I would need the support of a technical person to be able to use this Apex exosuit.
                        </option>
                        <option>Strongly Agree</option>
                        <option>Agree</option>
                        <option>Neutral</option>
                        <option>Disagree</option>
                        <option>Strongly Agree</option>
                        <option>NA</option>
                    </select>
                </div>
            </div>

            <div class="agreementDiv">
                <div class="dropDownDiv">
                    <select name="company" class="dropDown">
                        <option selected="selected" disabled="disabled">I found the various functions in this Apex exosuit were well integrated.
                        </option>
                        <option>Strongly Agree</option>
                        <option>Agree</option>
                        <option>Neutral</option>
                        <option>Disagree</option>
                        <option>Strongly Agree</option>
                        <option>NA</option>
                    </select>
                </div>
            </div>

            <div class="agreementDiv">
                <div class="dropDownDiv">
                    <select name="company" class="dropDown">
                        <option selected="selected" disabled="disabled">I thought there was too much inconsistency in this Apex exosuit.
                        </option>
                        <option>Strongly Agree</option>
                        <option>Agree</option>
                        <option>Neutral</option>
                        <option>Disagree</option>
                        <option>Strongly Agree</option>
                        <option>NA</option>
                    </select>
                </div>
            </div>

            <div class="agreementDiv">
                <div class="dropDownDiv">
                    <select name="company" class="dropDown">
                        <option selected="selected" disabled="disabled">I would imagine that most people would learn to use this Apex exosuit very quickly.
                        </option>
                        <option>Strongly Agree</option>
                        <option>Agree</option>
                        <option>Neutral</option>
                        <option>Disagree</option>
                        <option>Strongly Agree</option>
                        <option>NA</option>
                    </select>
                </div>
            </div>

            <div class="agreementDiv">
                <div class="dropDownDiv">
                    <select name="company" class="dropDown">
                        <option selected="selected" disabled="disabled">I found the Apex exosuit very cumbersome to use.
                        </option>
                        <option>Strongly Agree</option>
                        <option>Agree</option>
                        <option>Neutral</option>
                        <option>Disagree</option>
                        <option>Strongly Agree</option>
                        <option>NA</option>
                    </select>
                </div>
            </div>

            <div class="agreementDiv">
                <div class="dropDownDiv">
                    <select name="company" class="dropDown">
                        <option selected="selected" disabled="disabled">I felt very confident using the Apex exosuit.
                        </option>
                        <option>Strongly Agree</option>
                        <option>Agree</option>
                        <option>Neutral</option>
                        <option>Disagree</option>
                        <option>Strongly Agree</option>
                        <option>NA</option>
                    </select>
                </div>
            </div>

            <div class="agreementDiv">
                <div class="dropDownDiv">
                    <select name="company" class="dropDown">
                        <option selected="selected" disabled="disabled">I needed to learn a lot of things before I could get going with this Apex exosuit.
                        </option>
                        <option>Strongly Agree</option>
                        <option>Agree</option>
                        <option>Neutral</option>
                        <option>Disagree</option>
                        <option>Strongly Agree</option>
                        <option>NA</option>
                    </select>
                </div>
            </div>

            <div class="agreementDiv">
                <div class="dropDownDiv">
                    <select name="company" class="dropDown">
                        <option selected="selected" disabled="disabled">I think that I would need the support of a technical person to be able to use this Apex exosuit.
                        </option>
                        <option>Strongly Agree</option>
                        <option>Agree</option>
                        <option>Neutral</option>
                        <option>Disagree</option>
                        <option>Strongly Agree</option>
                        <option>NA</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="AgreeSection">

            <div class="agreementDiv">
                <div class="dropDownDiv">
                    <select name="company" class="dropDown">
                        <option selected="selected" disabled="disabled">I think that I would like to use this Apex
                            exosuit frequently.
                        </option>
                        <option>Strongly Agree</option>
                        <option>Agree</option>
                        <option>Neutral</option>
                        <option>Disagree</option>
                        <option>Strongly Agree</option>
                        <option>NA</option>
                    </select>
                </div>
            </div>

            <div class="agreementDiv">
                <div class="dropDownDiv">
                    <select name="company" class="dropDown">
                        <option selected="selected" disabled="disabled">I found the Apex exosuit unnecessarily complex.
                        </option>
                        <option>Strongly Agree</option>
                        <option>Agree</option>
                        <option>Neutral</option>
                        <option>Disagree</option>
                        <option>Strongly Agree</option>
                        <option>NA</option>
                    </select>
                </div>
            </div>

            <div class="agreementDiv">
                <div class="dropDownDiv">
                    <select name="company" class="dropDown">
                        <option selected="selected" disabled="disabled">I thought the Apex exosuit was easy to use.
                        </option>
                        <option>Strongly Agree</option>
                        <option>Agree</option>
                        <option>Neutral</option>
                        <option>Disagree</option>
                        <option>Strongly Agree</option>
                        <option>NA</option>
                    </select>
                </div>
            </div>

            <div class="agreementDiv">
                <div class="dropDownDiv">
                    <select name="company" class="dropDown">
                        <option selected="selected" disabled="disabled">I think that I would need the support of a technical person to be able to use this Apex exosuit.
                        </option>
                        <option>Strongly Agree</option>
                        <option>Agree</option>
                        <option>Neutral</option>
                        <option>Disagree</option>
                        <option>Strongly Agree</option>
                        <option>NA</option>
                    </select>
                </div>
            </div>

            <div class="agreementDiv">
                <div class="dropDownDiv">
                    <select name="company" class="dropDown">
                        <option selected="selected" disabled="disabled">I found the various functions in this Apex exosuit were well integrated.
                        </option>
                        <option>Strongly Agree</option>
                        <option>Agree</option>
                        <option>Neutral</option>
                        <option>Disagree</option>
                        <option>Strongly Agree</option>
                        <option>NA</option>
                    </select>
                </div>
            </div>

            <div class="agreementDiv">
                <div class="dropDownDiv">
                    <select name="company" class="dropDown">
                        <option selected="selected" disabled="disabled">I thought there was too much inconsistency in this Apex exosuit.
                        </option>
                        <option>Strongly Agree</option>
                        <option>Agree</option>
                        <option>Neutral</option>
                        <option>Disagree</option>
                        <option>Strongly Agree</option>
                        <option>NA</option>
                    </select>
                </div>
            </div>

            <div class="agreementDiv">
                <div class="dropDownDiv">
                    <select name="company" class="dropDown">
                        <option selected="selected" disabled="disabled">I would imagine that most people would learn to use this Apex exosuit very quickly.
                        </option>
                        <option>Strongly Agree</option>
                        <option>Agree</option>
                        <option>Neutral</option>
                        <option>Disagree</option>
                        <option>Strongly Agree</option>
                        <option>NA</option>
                    </select>
                </div>
            </div>

            <div class="agreementDiv">
                <div class="dropDownDiv">
                    <select name="company" class="dropDown">
                        <option selected="selected" disabled="disabled">I found the Apex exosuit very cumbersome to use.
                        </option>
                        <option>Strongly Agree</option>
                        <option>Agree</option>
                        <option>Neutral</option>
                        <option>Disagree</option>
                        <option>Strongly Agree</option>
                        <option>NA</option>
                    </select>
                </div>
            </div>

            <div class="agreementDiv">
                <div class="dropDownDiv">
                    <select name="company" class="dropDown">
                        <option selected="selected" disabled="disabled">I felt very confident using the Apex exosuit.
                        </option>
                        <option>Strongly Agree</option>
                        <option>Agree</option>
                        <option>Neutral</option>
                        <option>Disagree</option>
                        <option>Strongly Agree</option>
                        <option>NA</option>
                    </select>
                </div>
            </div>

            <div class="agreementDiv">
                <div class="dropDownDiv">
                    <select name="company" class="dropDown">
                        <option selected="selected" disabled="disabled">I needed to learn a lot of things before I could get going with this Apex exosuit.
                        </option>
                        <option>Strongly Agree</option>
                        <option>Agree</option>
                        <option>Neutral</option>
                        <option>Disagree</option>
                        <option>Strongly Agree</option>
                        <option>NA</option>
                    </select>
                </div>
            </div>

            <div class="agreementDiv">
                <div class="dropDownDiv">
                    <select name="company" class="dropDown">
                        <option selected="selected" disabled="disabled">I think that I would need the support of a technical person to be able to use this Apex exosuit.
                        </option>
                        <option>Strongly Agree</option>
                        <option>Agree</option>
                        <option>Neutral</option>
                        <option>Disagree</option>
                        <option>Strongly Agree</option>
                        <option>NA</option>
                    </select>
                </div>
            </div>
        </div>






        <div class="submit">

            <button class="submitButtonSquare">Submit My Profile</button>
        </div>
    </form>
</div>

<script src="js/sliders.js"></script>
</body>




</html>




